*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    color : black;
}
html,body{
    height : 100%;
    width : 100%;
    
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#box{
    height : 200px;
    width: 600px;
    background-color: aqua;
    border: 2px solid red;
}
#btn{
    height: 50px;
    width : 150px;
    background-color:beige;
}
#dwn{
    height : 100px;
    width : 500px;
    background-color: brown;
    border: 2px solid gray;
}