*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    color : black;
}
html,body{
    height : 100%;
    width : 100%;
    
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#box{
    display: flex;
    justify-content: start;
    align-items: center;
    height : 200px;
    width: 600px;
    background-color: aqua;
    border: 2px solid red;
}
#bar{
height:100px;
width:10px;
background-color: blueviolet;
}

